<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="layout/header"/>
</head>
<body class="gray-bg">
<div class="row wrapper wrapper-content animated fadeInRight">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>数据字典</h5>
            </div>
            <div class="ibox-content">
                <p>
                    由项目成员共同维护。它像一个字典，
                    你可以查询任何在项目中你无法理解的各种结构、类型定义，
                    从而最大程度的消除歧义和交流不畅问题 .
                </p>
            </div>
        </div>
    </div>

    <!-- 字典结构树 -->
    <div class="col-sm-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>字典结构树</h5>
            </div>
            <div class="ibox-content">
                <div id="_dictJson" class="test"></div>
            </div>
        </div>
    </div>

    <!-- 数据字典列表 -->
    <div class="col-sm-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>字典数据列表</h5>
            </div>

            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group hidden-xs" id="exampleToolbar" role="group">
                                    <button type="button" class="btn btn-outline btn-default" id="_addDictionary">
                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline btn-default" id="_delDictionary">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </button>
                                    <form id="_dictFormSearch">
                                        <div class="input-group">
                                            <div class="col-sm-3 input-group" style="float: right;">
                                                <input type="text" placeholder="按字典Key" name="itemKey"
                                                       class="input form-control">
                                            </div>
                                            <div class="col-sm-3 input-group" style="float: right;">
                                                <input type="text" placeholder="按字典名称" name="itemNamecn"
                                                       class="input form-control">
                                            </div>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn btn-primary"
                                                        onclick="DictionaryTableUtil.dictSearch()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                 <button type="button" class="btn btn btn-primary"
                                                         onclick="ClearUtil.fromClears('#_dictFormSearch')">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </span>

                                        </div>
                                    </form>
                                </div>
                                <table id="_dictionary_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 引入基础公共模板 -->
<div th:replace="views/pageTemplate/modalTemplate::template"></div>

<script th:src="@{/cms/dictionaries/dict_idx.js}"></script>
</body>
</html>
