<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .view-info {
        pointer-events: none;
    }
</style>
<body>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">关闭</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">数据字典</h4>
</div>
<div class="ibox-content pre-scrollable">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">ID：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_id" th:name="id" th:value="${cmsDictionary.id}" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">父节点：</label>
            <div class="col-sm-8 view-info">
                <select th:id="_parentId" th:name="parentId" class="chosen-select" style="width:100%;" tabindex="2">
                    <option value="">请选择</option>
                    <option th:each="item:${DICT_ALL}" th:value="${item.id}"
                            th:text="${item.itemNamecn}"
                            th:selected="${cmsDictionary.parentId == item.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">字典key：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_itemKey" th:name="itemKey" th:value="${cmsDictionary.itemKey}" class="form-control"
                       type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">字典value：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_itemValue" th:name="itemValue" th:value="${cmsDictionary.itemValue}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">字典名称：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_itemNamecn" th:name="itemNamecn" th:value="${cmsDictionary.itemNamecn}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_sort" th:name="sort" th:value="${cmsDictionary.sort}" class="form-control"
                       type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8 view-info">
                <select th:id="_status" th:name="status" class="chosen-select" style="width:100%;" tabindex="2">
                    <option th:each="item:${DICT_KEY_DB_STATUS}" th:value="${item.id}"
                            th:text="${item.itemNamecn}"
                            th:selected="${cmsDictionary.status == item.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">描述：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_description" th:name="description" th:value="${cmsDictionary.description}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_createTime" th:name="createTime" th:value="${cmsDictionary.createTime}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">更新时间：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_updateTime" th:name="updateTime" th:value="${cmsDictionary.updateTime}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">创建人：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_adminCreate" th:name="adminCreate" th:value="${cmsDictionary.adminCreate}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">更新人：</label>
            <div class="col-sm-8 view-info">
                <input th:id="_adminUpdate" th:name="adminUpdate" th:value="${cmsDictionary.adminUpdate}"
                       class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
</div>
</body>
<script>
    $(document).ready(function () {
        ChosenUtils.initChosen();
    });
</script>
</html>